* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}


@font-face {
  font-family: 'inter';
  src: url(/src/inter.TTF);
}

@font-face {
  font-family: 'rage';
  src: url(/src/rage.OTF);
}

body {
  background-image: url(/src/bg.jpg);
  background-color: #0e1d0d;
  color: #ffffff;
  font-family: inter;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

span {
  font-weight: 600;
  margin-right: .4rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: .3rem;
}

.titleOfApp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: rage;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: inter;
  color: #fcfff9;
  font-size: 3.5rem;
  letter-spacing: 0.05em;
  word-spacing: .5rem;
  text-shadow: 2px 3px 4px #0a0909;
  margin: 1rem;
}

.plant-title {
  margin-bottom: 1rem;
}

/*  ___ Buttons ___ */

.plantButton {
  color: white;
  font-size: .8rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: .5rem;
  min-height: 2.3rem;
  min-width: 5.3rem;
  border-radius: 1.563rem;
  background-color: #7dd45500;
  border: .1rem solid rgb(255, 255, 255)
}

.plantDeleteButton {
  color: white;
  font-size: .8rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  min-height: 2.3rem;
  min-width: 5.3rem;
  border-radius: 1.563rem;
  background-color: #7dd45500;
  border: .1rem solid rgb(255, 255, 255)
}

.createButton:hover:disabled {
  background-color: rgba(127, 255, 212, 0.052);
  border: .1rem solid rgb(21, 255, 0);
  color: rgb(21, 255, 0);
}

.createButton:hover {
  background-color: rgba(127, 255, 212, 0.052);
  border: .1rem solid rgb(21, 255, 0);
  color: rgb(21, 255, 0);
}

.plantButton:hover {
  background-color: rgba(127, 255, 212, 0.052);
  border: .1rem solid rgb(21, 255, 0);
  color: rgb(21, 255, 0);
}

.plantDeleteButton:hover {
  background-color: rgba(120, 5, 5, 0.044);
  color: rgb(226, 4, 4);
  border: .1rem solid rgb(226, 4, 4);
}

.login {
  cursor: pointer;
}

.login:hover {
  background-color: rgba(127, 255, 212, 0.052);
  border: .1rem solid rgb(21, 255, 0);
  color: rgb(21, 255, 0);
}


/* ___ Hamburger ___ */

label {
  margin-top: 1rem;
}


.hamburger {
  display: flex;
  justify-content: center;
  justify-self: left;
}

.pointer {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  cursor: pointer;
  width: 33px;
  height: 4px;
  background-color: #ffffff;
  margin: 8px 0;
  transition: 0.2s;
  border-radius: 10px;
  /* margin-left: 9rem; */
}

#hamburgerx .bar1 {
  -webkit-transform: rotate(-45deg) translate(-12px, 4px);
  transform: rotate(-45deg) translate(-12px, 4px);
}

#hamburgerx .bar2 {
  opacity: 0;
}

#hamburgerx .bar3 {
  -webkit-transform: rotate(45deg) translate(-12px, -4.5px);
  transform: rotate(45deg) translate(-12px, -4.5px);
}

/* ___ Breakpoints ___ */
@media screen and (min-width: 1400px) {
  img {
    height: 500px;
    margin: 1rem;
    object-fit: contain
  }

  .not-logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    font-size: 1rem;
    color: #000000;
    min-width: 100px;
    margin-left: 60%;

  }

  .navBar {
    backdrop-filter: blur(10px);
    background: rgba(55, 69, 55, 0.637);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 1rem;
    margin-bottom: 2rem;
    height: 60px;
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 32%;
    margin-left: 45%;
    text-align: right;
    align-items: center;
    font-size: 1rem;
    color: #000000;
    min-width: 100px;
  }

  .nav-water-my-plants-text {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  h3 {
    color: white;
    letter-spacing: 0.05em;
    min-width: 200px;
    font-size: 1.6 rem;
    font-family: inter;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: center;
    justify-content: space-around;
    align-items: center;
  }

  a {
    color: #ffffff;
    font-size: 1.2rem;
  }

  a:hover {
    color: rgb(21, 255, 0);
    ;
  }

}


@media screen and (min-width: 1120px) and (max-width: 1400px) {

  img {
    height: 650px;
    margin: 1rem;
    object-fit: contain
  }

  .not-logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    font-size: 1rem;
    color: #000000;
    min-width: 100px;
    margin-left: 10%;
  }

  .navBar {
    /* background: linear-gradient(to right, rgba(80, 110, 81, 0.991), rgba(48, 116, 78, 0.973)); */
    backdrop-filter: blur(10px);
    background: rgba(55, 69, 55, 0.637);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 1rem;
    margin-bottom: 2rem;
    height: 60px;
  }

  .nav-water-my-plants-text {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: white;
    letter-spacing: 0.05em;
    min-width: 200px;
    font-size: 1.6 rem;
    font-family: inter;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: center;
    justify-content: space-around;
  }

  li {
    margin-left: 24px;
  }

  a {
    color: #ffffff;
    font-size: 1.2rem;
  }

  a:hover {
    color: rgb(21, 255, 0);
  }

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: 30%;
    text-align: right;
    font-size: 1rem;
    color: #000000;
    min-width: 100px;
    align-items: center;
  }

}

@media screen and (min-width: 768px) and (max-width: 1120px) {

  img {
    height: 600px;
    margin: .5rem;
    object-fit: contain
  }

  .navBar {
    backdrop-filter: blur(10px);
    background: rgba(55, 69, 55, 0.637);
    backdrop-filter: saturate(180%) blur(10px);

    padding: 1rem;
    margin-bottom: 2rem;
    height: 60px;
  }

  .not-logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    font-size: 1rem;
    color: #000000;
    min-width: 100px;
    margin-left: 40%;
  }

  .nav-water-my-plants-text {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: white;
    letter-spacing: 0.05em;
    min-width: 200px;
    font-size: 1.6 rem;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: center;
    justify-content: space-around;
  }

  li {
    margin-left: 24px;
  }

  a {
    color: #ffffff;
    font-size: 1.2rem;
  }

  a:hover {
    color: #0053a0;
  }

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: 1%;
    text-align: right;
    font-size: 1rem;
    color: #000000;
    min-width: 100px;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.searchInput {
  display: flex;
  border-radius: 2px;
  border: #000000;
  width: 100px;
  height: 20px;
  text-align: center;
  background-color: #ffffffef;
  font-size: 1rem;
  color: #000000;
  padding: .7rem;
}

.searchPlants {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ___ Cards ___ */
.CardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  flex-wrap: wrap;
}

.plantCard {
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding-bottom: 1rem;
  border-radius: .4rem;
  box-shadow: 0px 2px 5px #000000;
  backdrop-filter: blur(10px);
  background: rgba(55, 69, 55, 0.574);
  backdrop-filter: saturate(180%) blur(10px);
}



/*  ___ MOBILE ___ */
@media screen and (max-width: 767px) {

  p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
  }


  .plantButton {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .CardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  img {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .plantCard {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 5px #000000;
    backdrop-filter: blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(55, 69, 55, 0.574);

    flex-direction: row-reverse;
  }


  .hamburger {
    display: flex;
    justify-content: center;
    width: 27px;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .search {
    display: none;
  }

  .searchPlants {
    margin-top: 10px;
  }

  .searchPlants input {
    width: 200px;
    padding: 0 36px 0 8px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .nav-water-my-plants-text {
    display: none;
  }

  .not-logged-in {
    justify-self: center;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    text-align: right;
    font-size: 1rem;
    color: #000000;
    min-width: 100px;
    width: 100%;
  }

  .nav-links {
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    text-align: right;
    color: #000000;
    width: 100%;
  }

  ul {
    flex-direction: column;
    margin-top: .6rem;
  }

  li,
  a {
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: .8rem;
    text-shadow: 3px 3px 2px #0a0909;
  }

  .titleOfApp {
    font-size: 170%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: rage;
  }
}

a {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}



.create-h2 {
  margin-bottom: 1.3rem;
}

/* ___ Scroll Bar ___ */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  /* background: linear-gradient(to right, rgb(16, 31, 16), rgba(10, 29, 18, 0.89)); */
  background: #0d200c;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 1.25rem;
  border: .375rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}


/*  ___ Form ___ */

.form {
  min-width: 250px;
  margin: 80px auto 32px auto;
  padding: 30px 50px 80px 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 400px;
  border: 1px solid black;
  box-shadow: 0px 2px 5px #000000;
  backdrop-filter: blur(10px);
  background: rgba(55, 69, 55, 0.574);
  backdrop-filter: saturate(180%) blur(10px);


}

.form input {
  color: #000000;
  width: 280px;
  height: 40px;
  margin: .5rem;
  padding-left: 1rem;
  /* text-align: center; */
  border-radius: 5px;
  border: 0.5px solid rgb(34, 33, 33);
  background-color: #ffffff;
}

.form button {
  width: 120px;
  height: 35px;
  font-size: 1.1rem;
  background-color: #ffffff00;
  border: solid 1px rgba(255, 255, 255, 0.904);
  border-radius: 2rem;
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.formErrors {
  text-decoration: none;
  list-style-type: none;
  color: #ffc7c7;
}

.sign-in {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.sign-up-for-an-account {
  cursor: pointer;
  text-shadow: 0 0 11px rgb(0, 0, 0), 0 0 11px rgb(0, 0, 0);
}





.searchPlants {
  display: inline-block;
  position: relative;
}

.searchPlants:hover input {
  width: 200px;
  padding: 0 36px 0 8px;
}

/* input .searchInput { */
.searchInput {
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  border: 0;
  transition: all 0.3s;
}

.search-icon {
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  backdrop-filter: blur(10px);
  background: rgba(55, 69, 55, 0.706);
  backdrop-filter: saturate(180%) blur(10px);
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drop {
  font-size: 1.5rem;
}